.black-bg {
  background-color:  var(--black-1);
  animation: changeBackgroundColor 15s infinite;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: var(--black-1);
  }
  33% {
    background-color: var(--black-2);
  }
  66% {
    background-color: var(--black-3);
  }
  100% {
    background-color: var(--black-1);
  }
}

body {
  margin: 0;
  font-weight: 700;
  font-style: normal;
  overflow-x: hidden;
}

.items {
  margin: 0;
  width: auto;
  display: inline-block;
  white-space: nowrap;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.items .item {
  width: 90vmin;
  height: 90vmin;
  margin: 5px;
  display: inline-block;
  position: relative;
  background: transparent;
  margin-right: 5vw;
}

.items .item .item-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.items .item img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  cursor: pointer;
}

.item:nth-child(3n+1){
  top: -10%;
}

.item:nth-child(3n+2){
  top: 40%;
}

.item:nth-child(3n){
  top: 10%;
}

.item:nth-child(5n+1) img{
  transform: scale(0.9)
}

.item:nth-child(5n+2) img{
  transform: scale(1.2)
}

.item:nth-child(5n+3) img{
  transform: scale(0.8)
}

.item:nth-child(5n+4) img{
  transform: scale(1.125);
}

.item:nth-child(5n) img{
  transform: scale(1);
}

.logo-container {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  width: calc(100vw - 64px);
  mix-blend-mode: difference;
  pointer-events: none;
}

@media all and (min-width: 1024px){
  .logo-container {
    max-width: 70vw;
  }
}

.logo-container.logo-container-overlay {
  mix-blend-mode: unset;
  z-index: 55;
  opacity: 0.65;
}

.logo {
  width: 100%;
  height: auto;
}

.page-interface-index, .page-interface-home, .page-interface-about, .page-interface-scroll-number {
  position: fixed;
  writing-mode: vertical-rl;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: white;
  mix-blend-mode: difference;
  z-index: 50;
  text-decoration: none;
  font-size: 24px;
}

.page-interface-index, .page-interface-home {
  top: 32px;
}

.page-interface-scroll-number, .page-interface-about {
  bottom: 32px;
}

.page-interface-index, .page-interface-about {
  right: 32px;
}

.page-interface-home, .page-interface-scroll-number {
  left: 32px;
}

.page-interface-overlay {
  mix-blend-mode: unset;
  pointer-events: none;
  z-index: 55;
  opacity: 0.65;
}