<!-- Portfolio Tease - Start -->
<section id="portfolio-{{ include.slug }}" class="portfolio-tease layout-{{ include.layout }} relative cursor-pointer" data-layout="{{ include.layout }}" data-bg="{{ include.bg }}">
    {% include elements/portfolio-information.html
      text=include.title
      slug=include.slug
      url=include.url
      css_classes="mega text-white font-800 font-display text-center"
    %}
    <div class="portfolio-images">
      <div id="image-1" class="image-container">
        <img src="{{ include.image_1 }}"/>
      </div>
      <div id="image-2" class="image-container">
        <img src="{{ include.image_2 }}"/>
      </div>
      <div id="image-3" class="image-container">
        <img src="{{ include.image_3 }}"/>
      </div>
    </div>
</section>
<!-- Portfolio Tease - End -->