{% assign alternating_count = include.count | modulo: 2 %}

{% case include.layout %}
  {% when 4 %}
    {% assign mouse_x_image_1 = "-0.025" %}
    {% assign mouse_y_image_1 = "0.08" %}
    {% assign mouse_x_image_2 = "0.065" %}
    {% assign mouse_y_image_2 = "-0.05" %}
    {% assign mouse_x_image_3 = "-0.08" %}
    {% assign mouse_y_image_3 = "-0.2" %}
  {% when 5 %}
    {% assign mouse_x_image_1 = "-0.025" %}
    {% assign mouse_y_image_1 = "0.08" %}
    {% assign mouse_x_image_2 = "0.065" %}
    {% assign mouse_y_image_2 = "-0.05" %}
    {% assign mouse_x_image_3 = "-0.08" %}
    {% assign mouse_y_image_3 = "-0.2" %}
  {% else %}
    {% if alternating_count == 1 %}
      {% assign mouse_x_image_1 = "-0.05" %}
      {% assign mouse_y_image_1 = "0.075" %}
      {% assign mouse_x_image_2 = "-0.045" %}
      {% assign mouse_y_image_2 = "0.135" %}
      {% assign mouse_x_image_3 = "-0.035" %}
      {% assign mouse_y_image_3 = "0.075" %}
    {% else %}
      {% assign mouse_x_image_1 = "0.025" %}
      {% assign mouse_y_image_1 = "-0.075" %}
      {% assign mouse_x_image_2 = "0.09" %}
      {% assign mouse_y_image_2 = "-0.135" %}
      {% assign mouse_x_image_3 = "0.01" %}
      {% assign mouse_y_image_3 = "-0.075" %}
    {% endif %}
{% endcase %}

{% if include.mouse_x_image_1 %}
  {% assign mouse_x_image_1 = include.mouse_x_image_1 %}
{% endif %}

{% if include.mouse_y_image_1 %}
  {% assign mouse_y_image_1 = include.mouse_y_image_1 %}
{% endif %}

{% if include.mouse_x_image_2 %}
  {% assign mouse_x_image_2 = include.mouse_x_image_2 %}
{% endif %}

{% if include.mouse_y_image_2 %}
  {% assign mouse_y_image_2 = include.mouse_y_image_2 %}
{% endif %}

{% if include.mouse_x_image_3 %}
  {% assign mouse_x_image_3 = include.mouse_x_image_3 %}
{% endif %}

{% if include.mouse_y_image_3 %}
  {% assign mouse_y_image_3 = include.mouse_y_image_3 %}
{% endif %}

<section id="{{ include.slug }}-portfolio-{{ include.count }}" class="section portfolio-tease relative {{ include.display }}-mode {{ include.css_classes }}" data-bg="{{ include.bg }}" data-display="{{ include.display }}" data-last-display="{{ include.last_display }}" data-next-display="{{ include.next_display }}">
    <div class="portfolio-images">
      {% if include.image_1 and include.image_1 != "" and include.image_1 != nil %}
        {% include elements/media-item.html 
            title=include.title
            media=include.image_1  
            url=include.url
            mouse_x=mouse_x_image_1
            mouse_y=mouse_y_image_1
            uuid=1
        %}
      {% endif %}
      {% if include.image_2 and include.image_2 != "" and include.image_2 != nil %}
        {% include elements/media-item.html 
            title=include.title
            media=include.image_2  
            url=include.url
            mouse_x=mouse_x_image_2
            mouse_y=mouse_y_image_2
            uuid=2
        %}
      {% endif %}
      {% if include.image_3 and include.image_3 != "" and include.image_3 != nil %}
        {% include elements/media-item.html 
            title=include.title
            media=include.image_3  
            url=include.url
            mouse_x=mouse_x_image_3
            mouse_y=mouse_y_image_3
            uuid=3
        %}
      {% endif %}
    </div>
</section>