<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://use.typekit.net/sql1swj.css">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <meta name="theme-color" content="#fafafa">
  </head>
  <body class="bg-black-1 page-{{ page.type }}">
    <section id="content">
      {{ content }}
    </section>
    <!-- Scripts -->
    <script src="{{ 'assets/js/vendor/modernizr-3.11.2.min.js' | relative_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/gsap@3/dist/MotionPathPlugin.min.js"></script>
    <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/script.js' | relative_url }}"></script>
  </body>
</html>
