<!-- Menu Modal - Start -->
<section id="modal-menu" class="fixed top-0 left-0 w-screen h-screen overflow-hidden">
  <div id="menu" class="w-full h-screen overflow-y-scroll">
    <div class="close-container absolute top-8 left-8 md:top-8 md:right-8 md:left-auto">
      <a href="#close" class="close-btn flex  justify-center align-center w-16 h-16 br-16 border-white">
        <span class="block line-1 line bg-white"></span>
        <span class="block line-2 line bg-white"></span>
      </a>
    </div>
    <div class="menu-container">
      <div id="rolodex-menu" class="fixed z-50">
        <svg viewBox="0 0 200 200">
          <circle id="path" cx="100" cy="100" r="120"/>
        </svg>
        {% include elements/modal-menu-item.html 
          url="#"
          text="Absolut" 
          slug="absolut" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/6d15e639-2421-4352-a16d-f1e211c06590/Bowen+4.jpg" 
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="ESPN" 
          slug="espn" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/013dec9e-736f-460e-bd54-ece7073dc246/20220527_JonquelJones_02_0419_33m_RGB+1.jpg" 
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="Theragun" 
          slug="theragun" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/d65433d2-a25b-490c-8b4c-a0ee882c8230/Clare_0987.jpg"    
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="Sorel" 
          slug="sorel" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/ebd46804-5930-4aae-930b-ebcc78c4361c/03032022_Sorel_KenticImpactSandal_3623_4x5.jpg" 
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="Nylon x NBC" 
          slug="nylon-x-nbc" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/dd16a3eb-1204-4e64-b8d3-6c7eeb8eff6a/Look1_791_RGB.jpg?format=1500w" 
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="MTV VMAs" 
          slug="mtv-vmas" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/1613763945929-NJM8850482UX845JP3NY/Peaceful+but+Grand+1" 
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="Airbnb x Pride" 
          slug="airbnb-x-pride" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/1613070870260-1Z29YM6MAWF1B3P5C4O8/4D4DE870-6DAB-46EA-BBD6-513A95F7F11F_1_201_a.jpeg" 
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="ALOK" 
          slug="alok" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/1615397708292-DFBZDLI88N8SKL7MGNFR/Alok_1_20219604+3.jpg"   
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="Therabody" 
          slug="therabody" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/1625008194201-8M358DNFZW63TA2JEQ7X/.gif?format=1000w"   
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="Blink Fitness" 
          slug="blink-fitness" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/1578857027845-5HMCVPLG2QENQMD1ESH6/Blink+Fitness_120620198039_05.jpg" 
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="Samsung" 
          slug="samsung" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/1613076501632-TH6XC6TR3R7G10ZANBP6/Samsung+HyperFast+Photoshoot+1.jpg"    
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="Bubly" 
          slug="bubly" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/1613151812831-4RW73H9VU2T3CORZTH3J/Bubly_PrideMedia_102020_4020.JPG" 
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="Live Love Polish" 
          slug="live-love-polish" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/1578613365417-ZCUI5GYPVNXDUSMRNBPB/image-asset.jpeg"  
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="J. Breckenridge" 
          slug="j-breckenridge" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/1618247540015-VXJ6IXEO4RTZ333NDO0A/Josh_Breckenridge_112020_5126.jpg" 
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="Lucie Fink Media" 
          slug="lucie-fink-media" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/1615223570021-U5RRQ3FC5HGDWU1KMX80/LucieFink_0110216891+2.jpg" 
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="PrEPVIIV Healthcare" 
          slug="prepviiv-healthcare" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/5355e114-03a6-470d-bcf4-de61d1bb2443/20211116_BronsonFarr_Prep_8478.jpg" 
          css_classes=include.item-css-classes
        %}
        {% include elements/modal-menu-item.html 
          url="#"
          text="Livinguard" 
          slug="livinguard" 
          image="https://images.squarespace-cdn.com/content/v1/5dce0508d40dcb3d649e5030/1616010417770-QYGDXC7KS5S9E8GIQD2G/NATIVE+%E2%80%93+1.jpg" 
          css_classes=include.item-css-classes
        %}
        
      </div>
    </div>
    <div id="top-level-menu" class="text-white absolute top-8 md:top-32 right-0 z-40">
      <ul class="list-none text-right">
        <li class="relative pr-16">
          <a href="#about" class="text-h4 md:text-h2">About</a>
        </li>
        <li class="relative pr-16">
          <a href="#shop" class="text-h4 md:text-h2">Shop</a>
        </li>
        <li class="relative pr-16">
          <a href="#tears+displays" class="text-h4 md:text-h2">Tears + Displays</a>
        </li>
        <li class="relative pr-16">
          <a href="#press+features" class="text-h4 md:text-h2">Press + Features</a>
        </li>
        <li class="relative pr-16">
          <a href="#contact" class="text-h4 md:text-h2">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  {% include elements/image-reveal.html %}
</section>
<!-- Menu Modal - End -->