<!-- Navigation - Start -->
<section class="navigation">
    {% include elements/hover-menu-item.html 
      url="https://www.bronsonfarr.com/"
      text="Index" 
      slug="index" 
      css_classes=include.css-classes
    %}
    {% include elements/hover-menu-item.html 
      url="#"
      text="Home" 
      slug="home" 
      css_classes=include.css-classes
    %}
    {% include elements/hover-menu-item.html 
      url="https://www.bronsonfarr.com/contact"
      text="About" 
      slug="about" 
      css_classes=include.css-classes
    %}
    {% include elements/hover-menu-item.html 
      url="#"
      text="00" 
      slug="scroll-number" 
      css_classes=include.css-classes
    %}
</section>
<!-- Navigation - End -->